<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeus">

    <application>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BVIPnhAhr8x7jEpjRoQuCn2g3FHTj5lL" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

    </application>

    <!-- 这个权限用于访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于读取外置存储。-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于写外置存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
